<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DevOps Assessment</title>
</head>
<body>
    <h1>Flask App Deployed!</h1>
    
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <ul style="color: green;">
        {% for category, message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    <form action="" method="POST">
        <input type="text" name="name" placeholder="Enter your name" required>
        <button type="submit">Submit</button>
    </form>
</body>
</html>
